# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
dynamodb/docker/docker/dynamodb/shared-local-instance.db
.coverage
# Ignore everything in benchmark_graph/end_to_end
benchmark_graph/end_to_end/*
# Allow the vllm folder in benchmark_graph/end_to_end
!benchmark_graph/end_to_end/vllm/

# Ignore everything in benchmark_graph/streaming
benchmark_graph/streaming/*
# Allow the vllm folder in benchmark_graph/streaming
!benchmark_graph/streaming/*vllm*/
!benchmark_graph/streaming/awsbedrock_azure_vllm/
!benchmark_graph/streaming/anthropic_awsbedrock_azure_cloudflare_googlegemini_groqprovider_hyperbolic_open_ai_perplexityai_togetherai_vllm
!benchmark_graph/streaming/anthropic_awsbedrock_azure_googlegemini_groqprovider_hyperbolic_open_ai_perplexityai_togetherai_vllm
!benchmark_graph/streaming/anthropic_awsbedrock_azure_googlegemini_hyperbolic_open_ai_perplexityai_togetherai_vllm

# Testing and coverage
coverage.xml
htmlcov


# Notebooks
notebooks/.ipynb_checkpoints/


azure-test.py
