# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
benchmark_graph

# Testing and coverage
.coverage
coverage.xml
htmlcov


# Notebooks
notebooks/.ipynb_checkpoints/